<footer class="footer t-center">
  <div class="container">

    {% include social-icons.html %}

    <small>
      <a href={{ site.author.github }} target="_blank">Mars Wong</a> &copy; {{ site.time | date: '%Y' }} All rights reserved.
    </small>

    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
      <img alt="Creative Commons License" style="border-width: 0;margin: .5em auto;" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
    </a>
  </div>
</footer>
